.App {
  font-family: monospace;
  text-align: center;
  color: red;
}
.Main{
  display: grid;
  grid-template-columns: 60px 300px 120px;
  gap: 10px;
  border: 1px solid red;
  margin: 5px;
  padding: 5px;
  background-color: aquamarine;
  color: black;
}
.plus-btn{
  display: "flex";
  flex-direction: column;
  justify-content: center;
  align-Items: "center";
}
